.description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  text-align: justify;
}

.description p {
  margin-top: 2em;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}