.header {
  padding: 4px;
  border-radius: 4px;
  min-height: 50px;
  position: fixed;
  background: rgba(29, 29, 36, 0.863);
  width: 100%;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.navigation a:hover {
  text-decoration: underline;
}

.element {
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}

.avatar {
  border-radius: 40%;
}